[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sufficientForecasting"]
	path = sufficientForecasting
	url = https://github.com/jingfu1224/sufficientforecasting
